{% extends 'empor/base.html' %}
{% load i18n thumbnail common %}
{% block content %}
<div class="inside_itembox itemopen cart center"> 
    <h1>Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Item' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Discount' %}</th>
                <th>{% trans 'Qty' %}</th>
                <th>{% trans 'Total' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ item.product.get_absolute_url }}">
                        {% if item.product.parent %}
                        <img src="{{ item.product.parent.get_main_image.image.small.url }}" class="itemphoto" 
                            width="{{ item.product.parent.get_main_image.image.small_width }}" height="{{ item.product.parent.get_main_image.image.small_height }}" />
                        {% else %}
                        <img src="{{ item.product.get_main_image.image.small.url }}" class="itemphoto" 
                            width="{{ item.product.get_main_image.image.small_width }}" height="{{ item.product.get_main_image.image.small_height }}" />
                        {% endif %}
                    </a>
                </td>
                <td><a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a></td>
                <td>{{ item.gross_total|currency }}</td>
                <td>{% if item.discount %} {{ item.get_discount_price|currency }} {% else %} - {% endif %}</td>
                <td>{{ item.quantity }}</td>
                <td class="item_total">{{ item.net_total|currency }}</td>
                <td><a href="{% url cart-remove %}" data="{{ item.id }}" class="remove_btn"><i class="xs_icon-remove"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>{% trans 'Shopping Total' %}：<span id="total">{{ cart.net_total|currency }}</span></h2>
    <div class="form-actions">
        {% csrf_token %}
        <a href="{% url index %}" class="button">{% trans 'Continue Shopping' %}</a>　
        {% if cart.items.count > 0 %}<a href="{% url order-index %}" class="button">{% trans 'Checkout and Payment' %}</a>{% endif %}
    </div>
</div>
{% endblock %}
