<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EMPOR</title>
    <link href="style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- menu_wrapper -->
<div id="menu_wrapper">
    <!-- menu_bar -->
    <div class="menu_bar"></div>
    <!-- /menu_bar -->
    <!-- logo -->
    <div class="index_itembox logo_box b_box" style="position: absolute; top: 20px; left: 10px;">
        <a href="index.html"><img src="images/EMPOR_logo.png"></a>
    </div>
    <!-- /logo -->
    <!-- menu_iconbox -->
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 70px;">
        <a href="contact.html"><img src="images/menu_icon_contact.png"></a>
    </div>
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 40px;">
        <a href="login.html"><img src="images/menu_icon_member.png"></a>
    </div>
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 10px;">
        <a href="cart.html"><img src="images/menu_icon_cart.png"></a>
    </div>
    <!-- /menu_iconbox -->
    <!-- menu_button -->
    <div class="menu_button" style="position: absolute; top: 10px; right: 100px;">
        <a href="index_menuopen.html">MENU</a>
    </div>
    <!-- /menu_button -->
    <!-- menu_content -->
    <div class="black_bg" style=" display:none;"></div>
    <div class="menu_content" style=" display:none; ">
        <!-- menu_box_men -->
        <div class="menu_box">
            <h2><img src="images/men.png">MEN</h2>
            <ul>
                <li class="title">PRODUCT</li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                <li><a href="#">Jackets &amp; Coats</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Jewellery</a></li>
                <li><a href="#">Jumpers &amp; Cardigans</a></li>
                <li><a href="#">Leather Jackets</a></li>
                <li><a href="#">Polo Shirts</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Shoes, Boots &amp; Trainers</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Suits &amp; Blazers</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Swimwear</a></li>
                <li><a href="#">Trousers &amp; Chinos</a></li>
                <li><a href="#">T-Shirts &amp; Vests</a></li>
                <li><a href="#">Underwear &amp; Socks</a></li>
                <li><a href="#">Watches</a></li>
            </ul>
            <ul>
                <li class="title">BRAND</li>
                <li><a href="#">A Question Of</a></li>
                <li><a href="#">AMH</a></li>
                <li><a href="#">April 77</a></li>
                <li><a href="#">B Store</a></li>
                <li><a href="#">BePriv</a></li>
                <li><a href="#">Blood Brother</a></li>
                <li><a href="#">Brooklyn We Go Hard</a></li>
                <li><a href="#">Cambridge Satchel Company</a></li>
                <li><a href="#">Chateau Roux</a></li>
                <li><a href="#">Cheap Monday</a></li>
                <li><a href="#">Christopher Shannon</a></li>
            </ul>
        </div>
        <!-- /menu_box_men -->
        <!-- menu_box_women -->
        <div class="menu_box">
            <h2><img src="images/women.png">WOMEN</h2>
            <ul>
                <li class="title">PRODUCT</li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                <li><a href="#">Jackets &amp; Coats</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Jewellery</a></li>
                <li><a href="#">Jumpers &amp; Cardigans</a></li>
                <li><a href="#">Leather Jackets</a></li>
                <li><a href="#">Polo Shirts</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Shoes, Boots &amp; Trainers</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Suits &amp; Blazers</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Swimwear</a></li>
                <li><a href="#">Trousers &amp; Chinos</a></li>
                <li><a href="#">T-Shirts &amp; Vests</a></li>
                <li><a href="#">Underwear &amp; Socks</a></li>
                <li><a href="#">Watches</a></li>
            </ul>
            <ul>
                <li class="title">BRAND</li>
                <li><a href="#">A Question Of</a></li>
                <li><a href="#">AMH</a></li>
                <li><a href="#">April 77</a></li>
                <li><a href="#">B Store</a></li>
                <li><a href="#">BePriv</a></li>
                <li><a href="#">Blood Brother</a></li>
                <li><a href="#">Chateau Roux</a></li>
                <li><a href="#">Cheap Monday</a></li>
            </ul>
        </div>
        <!-- /menu_box_women -->
    </div>
    <!-- /menu_content -->
</div>
<!-- /menu_wrapper -->
<!-- content_wrapper -->
{% block content %}
{% endblock %}
<!-- content_wrapper -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/application.js"></script> 
    <script type="text/javascript">
     $(function() {
        $('.index_content').hide();
        $('.index_itembox').hover(function() {
            $('.hide', this).toggle();
        });
    });
    </script>
</body>
</html>
