{% extends 'product/admin/base.html' %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script>
$(function(){
    // formset
    var deleteText = '刪除';
    var addText = '新增';

    $('#child_formset').formset({
        formCssClass: 'child-form',
        prefix: 'child',
        deleteText: deleteText,
        addText: addText
    });

    $('input[type="checkbox"]').change(function() {
        $('#child_formset').toggle();
    });

    $('.optiongroup').on('change', function () {
        var that = $(this)
        $.get('/empor/admin/render_options/'+$(this).val(), function(response) {
            for (var key in response) {
                that.parent().parent().find('select.options').append('<option value="'+ response[key].id +'">'+ response[key].name+'</option>');
            }
        });
    });

});
</script>
{% endblock %}
{% block content %}
{{ group.name }}
{% for product in products %}
{{ product.name }}
{% endfor %}
<form id="pg_edit_p1-form" method="post" action="#" class="form-inline well">
            <h3>Add Product</h3>
            <div class="control-group">
                <label class="control-label">Images</label>
                <div class="controls upload_box">Drag photos from your computer here</div>
            </div>
            <div class="control-group">
                <label class="control-label">Type Images</label>
                <div class="controls"><input class="input-file" id="fileInput" type="file"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls"><input id="p1_name" name="p1_name" type="text" class="input-xxxlarge"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Price</label>
                <div class="controls"><input id="price" name="price" type="text" class="input-large"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Brand</label>
                <div class="controls">
                    <select name="brand" id="brand">
                        <option>SWEAR-LONDON</option> 
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Gender</label>
                <div class="controls">
                    <select name="grnder" id="grnder">
                        <option>MEN</option> 
                        <option>WOMEN</option> 
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    <select name="category" id="category">
                        <option>SHOES</option> 
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Products Groups</label>
                <div class="controls">
                    <select name="pg" id="pg">
                        <option>CHAPLIN 1</option> 
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Composition</label>
                <div class="controls"><input id="composition" name="composition" type="text" class="input-xxxlarge"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Color</label>
                <div class="controls"><input id="color" name="color" type="text" class="input-xxxlarge"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls"><textarea class="input-xxxlarge" rows="5"></textarea></div>
            </div>
            <div class="control-group">
                <label class="control-label">Stock</label>
                <div class="controls"><input id="stock_size" name="stock_size" type="text" class="input-small" placeholder="size">　<input id="stock_qty" name="stock_qty" type="text" class="input-small" placeholder="qty"><a href="#" class="add_btn"><img src="images/add.png"></a></div>
            </div>
            <div class="form-actions"><a href="#" class="button">SAVE</a>　<a href="#" class="button_s">DELETE</a></div>
            <br clear="all">
        </form>
<form method="post">
{% csrf_token %}
<div class="product-form">
{{ product_form.as_p }}
    <div id="child_formset" style="display:none;">
    {{ child_formset.management_form }}
    {% for form in child_formset %}
    <div class="child-form">
    {{ form.as_p }}
    </div>
    {% endfor %}
    </div>
</div>
</div>
<input type="submit" />
</form>
{% endblock %}
