{% extends 'empor/base.html' %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>About EMPOR</h1>
    <div class="menu">
        <a href="{% url service-about %}" class="active">關於EMPOR</a> ／ <a href="{% url service-privacy %}">隱私權政策</a> ／ <a href="{% url service-tos %}">使用條款</a>
    </div>
    <p>EMPOR 的名字來自 emporium ，一個由希臘文 emporos 演變成中古世紀拉丁語的古老名詞，</p>
    <p>意思是古城中販賣各種東西的交易中心。</p>
    <br>
    <p>如同這個美麗的單字，EMPOR 要給你一個熟悉又充滿驚喜的消費平台</p>
    <p>細心嚴選來自歐美台各地，質感優秀的新興設計師自創品牌</p>
    <p>貼心提供 PayPal 付款、黑貓宅配、七天鑑賞、快速到貨及全台免運的服務</p>
    <p>讓你的日常穿搭可以任性的解構各種主流與非主流時尚</p>
    <br>
    <p>在 EMPOR 你尋找的每一項完美單品，不再需要任何人來定義</p>
    <p>怎麼呈現，留給你來詮釋。</p>
</div>
{% endblock %}
