{% extends 'empor/base.html' %}
{% block content %}
<div class="inside_itembox itemopen center">
    <div id="top"></div> 
    <h1>HELP</h1>
    <div class="help_menu">
        <a href="#member"><i class="xl_icon-member"></i><h3>會員問題</h3></a>
        <a href="#pay"><i class="xl_icon-pay"></i><h3>購物方式</h3></a>
        <a href="#delivery"><i class="xl_icon-delivery"></i><h3>配送取貨</h3></a>
        <a href="#return"><i class="xl_icon-refund"></i><h3>退貨方式</h3></a>
        <a href="#brand"><i class="xl_icon-brand"></i><h3>嚴選品牌</h3></a>
    </div>
    <div class="help_content">
        <div  id="member">
            <h4>會員問題</h4>
            <h5>Q1. 如何加入會員？</h5>
            <p>點選頁面上方『加入』按鈕，依頁面指示操作填寫送出，即能順利成為 EMPOR 網站會員。</p>
            <h5>Q2. 忘記密碼怎麼辦？</h5>
            <p>若忘記密碼，您可在『登入』時點選『忘記密碼』，依查詢方式輸入您的資料，系統會寄一封信至您的電子信箱中，請依照信中指示重設密碼。</p>
            <h5>Q3. 如何修改個人資料與密碼？</h5>
            <p>點選頁面上方『登入』按鈕登入會員，點選『我的帳戶』裡的『會員資料』及『修改密碼』中變更即可。</p>
        </div>
        <div  id="pay">
            <h4>購物方式</h4>
            <h5>Q1. 購物流程</h5>
            <p>選購喜愛的商品 > 登入會員 > 進行結帳 > 出貨通知 > 收到商品</p>
            <h5>Q2. 目前提供哪些付款方式？</h5>
            <p>(1)Paypal 刷卡</p>
            <p>(2)貨到付現：宅急便人員將貨物送達時，直接支付現金給宅急便人員即可。</p>
            <p>(3)貨到刷卡：宅急便人員將貨物送達時，使用信用卡（VISA，MASTER 及 JCB）進行付款。</p>
            <h5>Q3. 為什麼要選擇PayPal？</h5>
            <p>PayPal 付款方式讓線上購物消費者可以進行網路金錢交易，快速、安全、簡易，保障個人信用卡與金融資料的資訊安全。</p>
            <p>(1)安全：安全上網購物，無需透露你的財務資料。</p>
            <p>(2)方便：全球通用，輕鬆連結全球數以萬計的網路商店與 eBay 網站，並使用超過 20 種貨幣購物</p>
            <p>(3)保障機制：買家購物安全保障計劃，協助你輕鬆購物</p>
            <p>更多的訊息請瀏覽<a href="https://www.paypal-apac.com/tw/how-paypal-works/top-10-things-to-know-about-paypal.aspx?lng=zh_TW" target="_blank">『了解Paypal』</a>。</p>
            <h5>Q4. 如何知道我的訂單是否成立？</h5>
            <p>當您完成商品結帳流程後，EMPOR 即會接收到您的訂購訊息，在確認備貨無誤狀況後，立即會發送『訂購商品通知函』至您的電子信箱，內容包含您的訂購資料。</p>
            <h5>Q5. 如何查詢我的訂單記錄及狀況？</h5>
            <p>請輸入您的帳號及密碼登入會員後，點選『我的帳戶』裡的『訂單查詢』，即可查詢該訂單的處理狀態。</p>
            <h5>Q6. 我會收到發票嗎？</h5>
            <p>您可以選擇公益捐贈、二聯式發票、三聯式發票，請您務必勾選或填寫發票地址，我們將統一於次月五日寄出發票。</p>
        </div>
        <div id="delivery">
            <h4>配送取貨</h4>
            <h5>Q1. 有什麼配送方式可以選擇？</h5>
            <p>目前提供黑貓宅急便運送方式。可指定送達時間。</p>
            <p>運送地區：台灣本島各地各縣市、澎湖部分地區、金門部分地區（大金門、小金門）、小琉球、馬祖全部地區、綠島。</p>
            <p>以下區域恕不提供宅急便包裹收送服務：蘭嶼、澎湖望安鄉、七美鄉、虎井島、桶盤島、大倉嶼、員貝嶼、鳥嶼、吉貝嶼、金門烏坵鄉(大膽島、二膽島)</p>
            <h5>Q2. 運費如何計算呢？</h5>
            <p>EMPOR 全館商品一律免運費！</p>
            <h5>Q3. 訂購商品後需幾天的時間才可以收到商品呢？</h5>
            <p>商品將於訂單確認並完成付款動作後，五個工作天內出貨。您亦可至 <a href="http://www.t-cat.com.tw/Inquire/Trace.aspx" target="_blank">http://www.t-cat.com.tw/Inquire/Trace.aspx</a> 查詢配送狀態。</p>
        </div>
        <div id="return">
            <h4>退貨方式</h4>
            <h5>Q1. 七天鑑賞期</h5>
            <p>EMPOR 消費者享有七天內免運費退換貨之鑑賞期，鑑賞期非試用期，退換貨時商品需為未使用過且有完整包裝及發票。</p>
            <h5>Q2. 商品退換貨有什麼注意事項？</h5>
            <p>(1)換貨僅限瑕疵商品及配送錯誤商品，只能更換相同商品，無法更換不同商品。</p>
            <p>(2)每張訂單僅提供乙次免費尺寸換貨服務，超過此限必須自付郵資及處理費(非瑕疵之主觀換貨需自付寄回運費)。</p>
            <p>(3)提醒您，選購商品時請謹慎評估後再訂購，如有任何尺寸、規格或選色問題，請至『聯絡我們』洽詢，避免造成商品寄送往來之作業問題，不便之處，敬請見諒。</p>
            <h5>Q3. 退換貨標準為何？</h5>
            <p>辦理退換貨時，若商品有下列情形者，可能會被認定為已逾越商品鑑賞之必要程度，而將影響退貨權力或需負擔毀壞之費用</p>
            <p>鞋類商品：</p>
            <p>(1)鞋底磨損(試穿時請留意避免鞋底磨損，應在地毯或是軟墊上試穿)</p>
            <p>(2)鞋子上有不可清除的髒污或因試穿產生的折痕(皮革紋路不在此限)</p>
            <p>(3)鞋子附屬配件/贈品短缺</p>
            <h5>Q4. 退換貨流程為何？</h5>
            <p>如果您需要退貨，請寫信至<a href="mailto:service@empor.com.tw">service@empor.com.tw</a>，寫明您的退貨原因，並附上商品問題之照片，將有客服人員為您服務。</p>
        </div>
        <div id="brand">
            <h4>嚴選品牌</h4>
            <h5>Q1. EMPOR 上有哪些品牌的商品呢？</h5>
            <p>目前 EMPOR 嚴選了英國鞋類品牌 Swear London 獨家首賣，並有多家時尚品牌陸續進駐中，敬請期待！</p>
            <h5>Q2. 我的品牌也想在 EMPOR 上販售怎麼辦？</h5>
            <p>若貴公司有意願與 EMPOR 網站合作，請至『聯絡我們』選擇『業務』類別，簡單介紹您的品牌，我們將有專人與您聯絡。</p>
        </div>
    </div>
</div>
{% endblock %}
