{% extends 'empor/base.html' %}
{% block content %}
<div class="inside_itembox itemopen center privacy">
    <h1>Privacy Notice</h1>
    <div class="menu">
        <a href="{% url service-about %}">關於EMPOR</a> ／ <a href="{% url service-privacy %}" class="active">隱私權政策</a> ／ <a href="{% url service-tos %}">使用條款</a>
    </div>
    <h4>使用者隱私權保護聲明</h4>
    <p>EMPOR 針對消費者與個人資料之蒐集和運用，依中華民國「電腦處理個人資料保護法」及本隱私權保護聲明，EMPOR已加強相關之保護措施，但也鄭重提醒您：請勿在網路上公開透露您個人資料，因該資料有可能會被他人蒐集和使用，特別是在網路上公開的發言場合，如聊天室、留言版，更應避免發表個人身份、密碼或電子郵件等相關個人資料。</p>
    <h4>個人資料蒐集及使用</h4>
    <ul>
    <li>當您瀏覽EMPOR相關網站時，不會主動要求輸入個人資料。</li>
    <li>當您完成購物流程或參加其他活動時，EMPOR會要求您登錄個人資料，以便完成交易與相關服務。</li>
    <li>EMPOR及其相關網站所取得的個人資料，都僅供EMPOR內部依照原說明的使用目的和範圍。</li>
    <li>除事先說明或依台灣法律規定外，EMPOR不會擅自將您的個人資料提供給第三者或作為其他目的之用。</li>
    <li>EMPOR會自動記錄您在網站內的瀏覽，這些資料僅作為流量分析和網路行為調查，便於改善網站服務品質。</li>
    </ul>
    <h4>使用者資料</h4>
    <ul>
    <li>為了保障各位會員權益，第一次光臨本網站消費的顧客，只要確認完成交易後，即會自動升級為會員。</li>
    <li>註冊過程中您可以為自己設定一組電子郵件及密碼，經由該帳號，您可依照網站說明使用相關會員服務。</li>
    <li>請妥善保管您的會員帳號及密碼，不要將上述資料提供給任何人，在使用完畢後，請登出您的帳號。</li>
    <li>如果您與他人共用電腦或使用公共電腦，請記得關閉瀏覽器，以防他人看到上述資料取得您帳號的方法。</li>
    </ul>
    <h4>隱私權保護政策之修訂</h4>
    <ul>
    <li>EMPOR保留更改本聲明各項內容之權利，將於網站同一位置公告更改聲明外，不另對會員進行個別通知。</li>
    <li>若您對本隱私權保護政策有任何問題，請直接與本公司聯繫。</li>
    </ul>
</div>
{% endblock %}
