{% extends 'empor/base.html' %}
{% block content %}
<div class="inside_itembox itemopen center tos">
    <h1>Member's Policy</h1>
    <div class="menu">
        <a href="about_us.html">關於EMPOR</a> ／ <a href="privacy.html">隱私權政策</a> ／ <a href="{% url service-tos %}" class="active">使用條款</a>
    </div>
    <h4>為了保障您購買之後的權益，請您務必詳閱下列約定條款；當您按下〔我同意〕並確定結帳時，即視為已知悉、並且同意本約定條款的所有約定：</h4>
    <ul>
        <li>本站保有接受您訂單與否的權利 ，為確保完成所有的交易程序，您必須保證在本站登記的個人資料與事實相符，如有變動，應即時通知網站服務台修正或是自行至會員管理介面修改。</li>
        <li>您所登錄之個人資料，除了應提供廠商相關送貨與結帳資訊，本站應負相關之保密義務，不會任意洩漏貨提供給第三人。</li>
        <li>您應妥善保管在本站登記之帳號與密碼，所有使用該帳號登入系統之任何行為，本站皆視為帳號與密碼持有人之行為。</li>
        <li>在下列情況下，本站有權查看或提供使用者的個人資料給有權機關、或主張其權利受侵害並提出適當證明之第三人：</li>
            <ol>
                <li>依法令規定、或依司法機關或其他有權機關的命令；</li>
                <li>為執行本約定條款、或使用者違反約定條款；</li>
                <li>為維護本站系統之正常運作及安全；</li>
                <li>為保護本站、其他使用者、或其他第三人的合法權益；</li>
            </ol>
        <li>本站所有商品皆由協力廠商所提供，交易行為僅存在於廠商與使用者之間，本站僅提供廠商與使用者之間的交易平台與付款機制。</li>
        <li>相關商品或服務之品質、保固及售後服務，由提供各該商品或服務的廠商負責，但本站承諾全力協助使用者解決關於因為線上消費所產生之疑問或爭議。</li>
        <li>使用者一旦在本站進行線上消費，即表示願意購買該商品或服務並願遵守交易規則。使用者資料(如地址、電話)如有變更時，應立即上線修正其所留存之資料，且不得以資料不符為理由，否認其訂購行為或拒絕付款。 本站並保有接受您訂單與否的權利。</li>
        <li>所有在本站所進行的線上消費，使用者應同意以本站所紀錄之電子交易資料為準，如有糾紛，並以該電子交易資料為認定標準。使用者如果發現交易資料不正確，應立即通知本站服務台。</li>
        <li>本站在發生下列情形之一時，可以停止、中斷提供服務；停止或中斷服務時，原則上本站將先通知會員，惟緊急時刻不在此限：</li>
            <ol>
                <li>對本站的電子通信設備，進行必要的保養及施工</li>
                <li>發生突發性的電子通信設備故障； 由於本站所申請的電子通信服務被停止，致使提供服務發生困難；由於天災等不可抗力之因素，致使本站無法提供服務。</li>
            </ol>
        <li>本站保留隨時修改本使用條款之權利，修改後的使用條款將公佈在本網站上，不另外個別通知使用者。使用者應同意遵守修改後之約定條款。</li>
        <li>使用者應同意，本約定條款及所有在本站所進行的線上消費或交易，均以中華民國法令為準據法。因本約定條款所發生之糾紛，以台灣台北地方法院為第一審管轄。</li>
    </ul>
</div>
{% endblock %}
