<div id="menuopen_wrapper">
    <div class="black_bg" style=" display:block;"></div>
    <div class="menu_content" style=" display:block; ">
        <span class="close">×</span>
        <div class="menu_box">
            <h2>BRANDS / 品牌</h2>
            <ul>
                {% for brand in brands %}
                <li><a href="{% url brand-products brand.slug %}"><img src="{{ brand.w_image.url }}" alt="{{ brand.name }}"></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
