{% extends 'empor/base.html' %}
{% load i18n thumbnail common cache %}
{% block content %}
<div id="left_menu_wrapper">
    <div class="brand"><img src="{{ brand.image.url }}"></div>
    <ul class="nav nav-list {% if gender == 'MEN' %}visible{% endif %}">
        <li class="nav-header"><a href="{% url brand-products-gender brand.slug 'MEN' %}">MEN</a></li>
        {% for category in brand.get_men_categories %}
        <li {% if category.id == category_id and gender == 'MEN' %}class="active" {% endif %}>
			<a href="{% url brand-products-gender-category brand.slug 'MEN' category.id %}">{{ category.name }}</a>
		</li>
        {% endfor %}
    </ul>
    <ul class="nav nav-list {% if gender == 'WOMEN' %}visible{% endif %}">
        <li class="nav-header"><a href="{% url brand-products-gender brand.slug 'WOMEN' %}">WOMEN</a></li>
        {% for category in brand.get_women_categories %}
        <li {% if category.id == category_id and gender == 'WOMEN' %}class="active"{% endif %}>
			<a href="{% url brand-products-gender-category brand.slug 'WOMEN' category.id %}">{{ category.name }}</a>
		</li>
        {% endfor %}
    </ul>
</div>
<div id="isotope_list">
    <div class="index_itembox a41">
        <a class="brand_banner brand_dynamic" href="{{ brand.get_absolute_url }}">
            <img src="{{ brand.story.url }}" alt="{{ brand.name }} {% trans 'Brand Story' %}" width="670px" height="160" real_wid="{{ brand.story.width }}" real_he="{{ brand.story.height }}" />
        </a>
    </div>
    {% for product in products %}
    {% cache 600 product product.id %}
    {% with box_class|random as class %}
    <a class="dynamic" href="{{ product.get_absolute_url }}">
		<div class="index_itembox {{ class }}"> 
            <div class="itemimg"><img class="lazy" src="{{ STATIC_URL }}images/default.jpg" data-original="{{ product.get_main_image.image.medium.url }}"></div>
            <div class="content">
                <h5>{{ product.brand.name|upper }}</h5>
                <h6>{{ product.name }}</h6>
				<h6>
					{% if product.discountable %}
					<strike>{{ product.price|currency }}</strike>
					<span class="discount">{{ product.get_discounted_price|currency }} ( -{{ product.get_discount_value|currency }} )</span>
					{% else %}
					<span>{{ product.price|currency }}</span>
					{% endif %}
				</h6>
            </div>
            {% with product.get_gender as gender %}
                {% if gender == 3 %}
                <i class="l_icon-gender unisex"></i>
                {% elif gender == 2 %}
                <i class="l_icon-gender women"></i>
                {% else %}
                <i class="l_icon-gender men"></i>
                {% endif %}
            {% endwith %}
		</div>
	</a>
    {% endwith %}
    {% endcache %}
    {% endfor %}
</div>
{% endblock %}
