{% extends 'product/brand-products.html' %}
{% load i18n thumbnail common %}
{% block facebook_meta %}
<meta property="og:title" content="{{ brand.name }}" />
<meta property="og:description" content="{{ brand.description|safe }}" />
<meta property="og:image" content="{{ brand.image.url }}" />
{% endblock %}
{% block popup %}
<div class="itemopen">
    <div class="brand_banner"><img src="{{ brand.story.url }}" /></div>
    <div class="center">{{ brand.description }}</div>
    <div class="form-actions"><a href="#" class="button close_button">看品牌商品</a></div>
</div>
{% endblock %}
