{% extends 'empor/base.html' %}
{% load i18n thumbnail common cache %}
{% block content %}
<div id="left_menu_wrapper">
    <ul class="nav nav-list">
        <li class="nav-header">PRODUCT / 產品</li>
        {% for cat in gender.categories.all %}
        <li {% if cat == category %}class="active"{% endif %}>
            <a href="{% url gender-products-category gender cat.id %}">{{ cat.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% comment %}
    <ul class="nav nav-list">
        <li class="nav-header">BRANDS / 品牌</li>
        {% for brand in brands %}
        <li><a href="{% url brand-products-gender brand.slug gender.name %}">{{ brand.name }}</a></li>
        {% endfor %}
    </ul>
    {% endcomment %}
</div>
<div id="isotope_list">
    {% for product in products %}
    {% cache 600 product product.id %}
    {% with box_class|random as class %}
	    <div class="index_itembox dynamic {{ class }}" href="{{ product.get_absolute_url }}">
			<div class="itemimg">
				<img class="lazy" src="{{ STATIC_URL }}images/default.jpg" data-original="{{ product.get_main_image.image.medium.url }}">
			</div>
			<div class="content">
				<h5>{{ product.brand.name|upper }}</h5>
				<h6>{{ product.name }}</h6>
				<h6>
					{% if product.discountable %}
					<strike>{{ product.price|currency }}</strike>
					<span class="discount">{{ product.get_discounted_price|currency }}</span>
					{% else %}
					<span>{{ product.price|currency }}</span>
					{% endif %}
				</h6>
			</div>
			{% with product.get_gender as gender %}
				{% if gender == 3 %}
				<i class="l_icon-gender unisex"></i>
				{% elif gender == 2 %}
				<i class="l_icon-gender women"></i>
				{% else %}
				<i class="l_icon-gender men"></i>
				{% endif %}
			{% endwith %}
	    </div>
    {% endwith %}
    {% endcache %}

    {% if forloop.counter == 1 %}
    <a href="{% url member-register %}">
        <div class="index_itembox a11"> 
            <img src="{{ STATIC_URL }}images/banner_220x220.jpg" width="220" height="220">
        </div>
    </a> 
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
