{% extends 'empor/base.html' %}
{% load i18n thumbnail common cache %}
{% block content %}
<div id="isotope_list">
    {% for product in products %}
    {% cache 600 product product.id %}
    {% with box_class|random as class %}
    <div class="index_itembox {{ class }}"> 
            <div class="itemimg"><img class="lazy" src="{{ STATIC_URL }}images/default.jpg" data-original="{{ product.get_main_image.image.medium.url }}"></div>
            <a class="coverbox hide dynamic" href="{{ product.get_absolute_url }}">
            <div class="content">
                <div class="brand"><img src="{{ product.brand.image.url }}"></div>
                <div class="itemname">{{ product.name }}</div>
                <div class="price">{{ product.price|currency }}</div>
            </div>
            {% with product.get_gender as gender %}
                {% if gender == 3 %}
                <i class="l_icon-gender unisex"></i>
                {% elif gender == 2 %}
                <i class="l_icon-gender women"></i>
                {% else %}
                <i class="l_icon-gender men"></i>
                {% endif %}
            {% endwith %}
            </a>
    </div>
    {% endwith %}
    {% endcache %}
    {% endfor %}
</div>
{% endblock %}
