{% extends 'email/base.html' %}
{% load i18n %}
{% block content %}
<p>{% trans 'Dear' %} {{ user.get_name }}</p>
<p>{% trans 'We have received your requset on reseting password' %}</p>
<p>{% trans 'Account' %}: {{ user.username }}</p>
<p>{% trans 'Please click on the link below to proceed' %}</p>
<p><a href="http://{{ host }}{% url member-reset-password reset_code %}">http://{{ host }}{% url member-reset-password reset_code %}</a></p>
<p>{% trans 'Please copy the link to your browser if the link is broken' %}</p>
{% endblock %}
{#親愛的 XXX：

我們收到您要求重設密碼的請求，

帳號 :blueduck

點擊此網址來重設您的密碼：

http://blueduck.vodka.com.tw/EMPOR/forgot_reset.html

如果您無法直接點擊連結，請將上方網址複製並貼到您的瀏覽器網址列中直接瀏覽。#}
