{% load i18n common %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EMPOR</title>
    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}style/extra.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.livequery.js"></script> 
    <script src="{{ STATIC_URL }}js/app.js"></script>
</head>
<body>
{% block popup %}{% endblock %}
<!-- menu_wrapper -->
<div id="menu_wrapper">
    <!-- menu_bar -->
    <div class="menu_bar"></div>
    <!-- /menu_bar -->
    <!-- logo -->
    <!-- /logo -->
    <!-- menu_iconbox -->
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 70px;">
        <a href="contact.html"><img src="{{ STATIC_URL }}images/menu_icon_contact.png"></a>
    </div>
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 40px;">
        <a href="login.html"><img src="{{ STATIC_URL }}images/menu_icon_member.png"></a>
    </div>
    <div class="index_itembox menu_iconbox b_box" style="position: absolute; top: 20px; right: 10px;">
        <a href="cart.html"><img src="{{ STATIC_URL }}images/menu_icon_cart.png"></a>
    </div>
    <div class="logo_box_top b_box" style="position: absolute; top: 20px; left: 10px;"></div>
    <!-- /menu_iconbox -->
    <!-- menu_button -->
    <div class="menu_button" style="position: absolute; top: 10px; right: 100px;">
        <a href="index_menuopen.html">MENU</a>
    </div>
    <!-- /menu_button -->
    {% comment %}<!-- menu_content -->{% endcomment %}
    <!-- /menu_content -->
</div>
<!-- /menu_wrapper -->
<!-- content_wrapper -->
{% block content %}{% endblock %}
<!-- content_wrapper -->
    <script type="text/javascript">
     $(function() {
        $('.index_content').hide();
        $('.index_itembox').hover(function() {
            $('.hide', this).toggle();
        });
    });
    </script>
</body>
</html>
