{% load i18n common %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EMPOR</title>
    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}style/extra.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}js/jGrowl/jquery.jgrowl.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.livequery.js"></script> 
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/jGrowl/jquery.jgrowl_minimized.js"></script>

    {% if flash.message %}
    <script type="text/javascript">
        var flashMessage = '{{ flash.message }}';
    </script>
    {% endif %}
</head>
<body>
<!-- menu_wrapper -->
<div id="menu_wrapper">
    <!-- logo -->
    <div class="logo_box b_box">
        <a href="{% url index %}"><img src="{{ STATIC_URL }}images/EMPOR_logo.png" /></a>
    </div>
    <!-- /logo -->
    <!-- menu_iconbox -->
    <div class="menu_iconbox b_box">
        <a href="{% url service-index %}"><img src="{{ STATIC_URL }}images/menu_icon_contact.png"></a>
    </div>
    <div class="menu_iconbox b_box">
        <a href="{% url cart-index %}"><img src="{{ STATIC_URL }}images/menu_icon_cart.png"></a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="menu_textbox b_box">
        <a href="{% url userena_signout %}">{% trans 'LOGOUT' %}</a> ／ <a href="{% url member-profile %}">{% trans 'MY ACCOUNT' %}</a>
    </div>
    {% else %}
    <div class="menu_textbox b_box">
        <a href="{% url userena_signup %}">{% trans 'JOIN US' %}</a> ／ <a href="{% url userena_signin %}">{% trans 'LOGIN' %}</a>
    </div>
    {% endif %}
    <!-- /menu_iconbox -->
    <!-- menu_button -->
    <div class="menu_button">
        <a href="{% url index-gender 'MEN' %}">MEN</a> /
        <a href="{% url index-gender 'WOMEN' %}">WOMEN</a>
    </div>
    <!-- /menu_button -->
</div>
<!-- /menu_wrapper -->
<!-- content_wrapper -->
<div id="content_wrapper">
    {% block content %}
    {% endblock %}
</div>
<!-- content_wrapper -->
<div id="modal_overlay" {% if popup %}style="display:block;"{% endif %}></div>
<div id="content_pane" {% if popup %}style="display:block;" class="itemup"{% endif %}>
    {% block popup %}{% endblock %}
</div>
</body>
</html>
