{% load i18n common %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>EMPOR</title>
    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}style/extra.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}js/jGrowl/jquery.jgrowl.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.lazyload.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.livequery.js"></script> 
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/jGrowl/jquery.jgrowl_minimized.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.history.js"></script>

    {% if flash.message %}
    <script type="text/javascript">
    var flashMessage = '{{ flash.message }}';
    </script>
    {% endif %}
    <script type="text/javascript">
    function fb_login(){
        var next = window.location.href.split('?next=',2);
        if (next[1] == null){next = '{% url index %}';}
        else{next = next[1];}
        FB.login(function(response) {
            if (response.authResponse) {
                FB.api('/me', function(response) {
                    if(!response || response.error){
                        alert('Facebook API 錯誤，請重新嘗試或手動登入');
                    }
                    else{
                        $.post('{% url member-facebook-verify %}', response, function(data) {
                            if (data.success)
                                location.href=next;
                            else 
                                location.href='{% url member-facebook-connect %}';
                        });
                    }
                });
            }
        }, {scope: 'offline_access,user_birthday,email,user_likes,user_relationships,publish_actions'});
    };
    </script>
    <script type="text/javascript">
    (function(window, undefined) {
        var History = window.History;
        History.Adapter.bind(window, 'statechange', function () {
            state = History.getState();
            _gaq.push(['_trackPageview', state.url]);
        });
    }) (window);
    </script>
    {% block js %}{% endblock %}
    {% include 'empor/gaq.html' %}
</head>
<body>
<div id="content_wrapper">
<!-- menu_wrapper -->
<div id="menu_wrapper" {% block menu_class %}{% endblock %}>
    <!-- logo -->
    <div class="logo_box b_box">
        <a href="{% url index %}"><img src="{{ STATIC_URL }}images/EMPOR_logo.png" /></a>
    </div>
    <!-- /logo -->
    <!-- menu_iconbox -->
    <div class="menu_iconbox b_box">
        <a href="{% url service-center %}"><i class="m_icon-contact"></i></a>
    </div>
    <div class="menu_iconbox b_box cart_box">
        {% cart_count request %}
        <a href="{% url cart-index %}"><i class="m_icon-cart"></i></a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="menu_textbox b_box">
        <a href="{% url member-logout %}">{% trans 'LOGOUT' %}</a> ／ <a href="{% url member-profile %}">{% trans 'MY ACCOUNT' %}</a>
    </div>
    {% else %}
    <div class="menu_textbox b_box">
        <a onclick="_gaq.push(['_trackEvent', 'Member', 'Signup']);" href="{% url member-register %}">{% trans 'JOIN US' %}</a> ／ <a onclick="_gaq.push(['_trackEvent', 'Member', 'Login']);" href="{% url member-login %}">{% trans 'LOGIN' %}</a>
    </div>
    {% endif %}
    <!-- /menu_iconbox -->
    <!-- menu_button -->
    <div class="menu_button">
        <a href="{% url products-view %}">ALL</a> /
        <a href="{% url products-view-gender 'MEN' %}">MEN</a> /
        <a href="{% url products-view-gender 'WOMEN' %}">WOMEN</a>
    </div>
    <!-- /menu_button -->
</div>
<!-- /menu_wrapper -->
{% block content %}
{% endblock %}
</div>
<div id="back-top"></div>
<div id="footer" class="{% block footer_class %}small{% endblock %}">
    <div class="note open">
        <a class="icon_box" href="about_us.html">
            <i class="f_icon-info"></i>關於我們
        </a>
        <a class="icon_box" href="{% url service-faq %}#pay">
            <i class="f_icon-paypal"></i>PayPal 付款
        </a>
        <a class="icon_box" href="{% url service-faq %}#delivery">
            <i class="f_icon-bcat"></i>黑貓宅配
        </a>
        <a class="icon_box" href="{% url service-faq %}#delivery">
            <i class="f_icon-free"></i>全國免運
        </a>
        <a class="icon_box" href="{% url service-faq %}#delivery">
            <i class="f_icon-fast"></i>快速到貨
        </a>
        <a class="icon_box" href="{% url service-faq %}#return">
            <i class="f_icon-365"></i>一年鑑賞
        </a>
        <a class="icon_box" href="{% url service-faq %}#return">
            <i class="f_icon-service"></i>售後服務
        </a>
        <a class="icon_box" href="{% url service-faq %}#brand">
            <i class="f_icon-star"></i>嚴選品牌
        </a>
        <a class="icon_box" href="https://www.facebook.com/pages/EMPOR/220960498003255" target="_blank">
            <i class="f_icon-fb"></i>粉絲專頁
        </a>
        <br clear="all">
    </div>
    <div class="note small">
        <a class="icon_box" href="about_us.html">
            <i class="s_icon-info"></i>
        </a>
        <a class="icon_box" href="{% url service-faq %}">
            <i class="s_icon-help"></i>
        </a>
        <a class="icon_box" href="https://www.facebook.com/pages/EMPOR/220960498003255" target="_blank">
            <i class="s_icon-fb"></i>
        </a>
        <br clear="all">
    </div>
    <div class="text">COPYRIGHT© 2012 EMPOR. All RIGHTS RESERVED.</div>
    <div class="open_btn">．．．</div>
</div>
<div id="modal_overlay" {% if popup %}style="display:block;"{% endif %}></div>
<div id="content_pane" {% if popup %}style="display:block;" class="itemup"{% endif %}>
    {% block popup %}{% endblock %}
</div>
<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function() {
            FB.init({
            appId      : '478172468880633', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            oauth      : true, // enable OAuth 2.0
            xfbml      : true  // parse XFBML
            });

};
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/zh_TW/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
</script>
</body>
</html>
