{% extends 'empor/base.html' %}
{% load i18n thumbnail %}
{% block content %}
<div id="content_wrapper">
    {% for product in products %}
    {% with box_class|random as class %}
    <div class="index_itembox {{ class }}"> 
            <div class="itemimg"><img src="{{ product.get_main_image|thumbnail_url:'medium' }}"></div>
            <a class="coverbox hide dynamic" href="{{ product.get_absolute_url }}">
            <div class="content">
                <div class="brand"><img src="{{ product.brand.image.url }}"></div>
                <div class="itemname">{{ product.name }}</div>
                <div class="price">{{ product.price }}</div>
            </div>
            </a>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
