{% extends 'empor/base.html' %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
window.footer = 'opened';
$(function() {
    $.backstretch([
        {% for impression in impressions %}
            "{{ impression.image.url }}",
        {% endfor %}
    ], { duration: 5000, fade: 2000 });
});
</script>
{% endblock %}
{% block menu_class %}class="b_bg"{% endblock %}
{% block content %}
<div class="index_text"><img src="{{ key.image.url }}"></div>
<div class="intro_text">
    <span class="t_box">EMPOR 的名字來自 emporium</span><br>
    <span class="t_box">一個由希臘文 emporos 演變成中古世紀拉丁語的古老名詞</span><br>
    <span class="t_box">意思是古城中販賣各種東西的交易中心</span><br>
    <span class="t_box">如同這個美麗的單字，EMPOR 要給你一個熟悉又充滿驚喜的消費平台</span><br>
    <span class="t_box">細心嚴選來自歐美台各地，質感優秀的新興設計師自創品牌</span><br>
    <span class="t_box">讓你的日常穿搭可以任性的解構各種主流與非主流時尚</span><br>
    <span class="t_box">在 EMPOR 你尋找的每一項完美單品，不再需要任何人來定義</span><br>
    <span class="t_box">怎麼呈現，留給你來詮釋</span>
</div>
{% endblock %}
{% block footer_class %}open{% endblock %}
