{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="index_itembox itemopen">
    <div class="center">
        <h1>{% trans 'Forgot Password' %}</h1>
        <h3><small>{% trans 'To obtain a new password, please enter your e-mail address and a link will be emailed to you.' %}</small></h3>
        <form id="forgot-form" method="post" action="/accounts/signup/" class="form-inline">
            {% csrf_token %}
            {{ form.errors }}
            {% for field in form %}
            <div class="control-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">
                    <input id="id_email" name="email" type="text" class="input-xxlarge" />
                </div>
            </div>
            {% endfor %}
            <input type="submit" class="button" value="{% trans 'Send' %}" />
        </form>
    </div>
</div>
{% endblock %}
