{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Register</h1>
    <form id="register-form" method="post" class="form-inline">
        {% csrf_token %}
        {{ form.errors }}
        {% for field in form %}
        {% if field.name == 'billing_recipient' %}
        <h4>{% trans 'Billing Information' %}</h4>
        {% endif %}
        {% if field.name == 'shipping_recipient' %}
        <h4>{% trans 'Shipping Information' %}</h4>
        {% endif %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% if field.name == 'billing_country' %}
        <div class="control-group">
            <div class="controls">
                <input name="copy_address" type="checkbox" value="" id="copy_address">{% trans 'Shipping same as billing?' %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Confirm' %}" />
        </div>
    </form>
</div>
{% endblock %}
