{% load thumbnail i18n %}
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<body>
<table cellpadding="5" id="order_box">
    <thead>
        <tr>
            <th style="background:#29201b; text-align:left;">
                <img src="http://{{ domain }}{{ STATIC_URL }}images/EMPOR_logo_back.png">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="line-height: 18px; text-align: left; vertical-align: top; border-bottom:#ccc 1px dotted; padding: 5px 15px;">
                <p>{{ order.user.get_name }}先生/小姐您好，感謝您在EMPOR訂購商品，我們已收到您的資料。</p>
                <p>EMPOR保留接受您的訂單與否之權利。</p>
                <p>以下為您的訂購清單，若您無法閱讀此信，請<a href="http://{{ domain }}{% url order-info order.id %}" target="_blank">按此連結</a>，查看訂購明細！</p>
                <p>※此郵件是系統自動傳送，請勿直接回覆！若您仍有問題請聯繫<a href="http://blueduck.vodka.com.tw/EMPOR/contact.html" target="_blank">客服中心</a>，謝謝！</p>
            </td>
        </tr>
        <tr>
            <td style="line-height: 18px; text-align: left; vertical-align: top; border-bottom:#ccc 1px dotted; padding: 5px 15px;">
                <table border="0" cellpadding="5" style="width:100%">
                  <tbody>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Order ID' %}</th>
                    <td>{{ order.order_id }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Order Date' %}</th>
                    <td>{{ order.created_at|date:"Y/m/d" }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Buyer' %}</th>
                    <td>{{ order.billing_recipient }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Email' %}</th>
                    <td>{{ order.user.email }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Phone' %}</th>
                    <td>{{ order.billing_phone }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Billing Address' %}</th>
                    <td>{{ order.get_billing_address }}</td>
                  </tr>
                  <tr>
                    <th style="text-align:right; width:100px;">{% trans 'Payment method' %}</th>
                    <td>{{ order.get_payment_method_display }}</td>
                  </tr>
                </tbody>
               </table>
          </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="5" style="width:100%">
                    <tbody>
                        <tr>
                            <th style="text-align:right; width:100px;">{% trans 'Recipient' %}</th>
                            <td>{{ order.shipping_recipient }}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right; width:100px;">{% trans 'Phone' %}</th>
                            <td>{{ order.shipping_phone }}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right; width:100px;">{% trans 'Shipping Address' %}</th>
                            <td>{{ order.get_shipping_address }}</td>
                        </tr>
                    </tbody>
                </table>
          </td>
        </tr>
        <tr>
            <td style="line-height: 18px; text-align: left; vertical-align: top; border-bottom:#ccc 1px dotted; padding: 5px 15px;">
                <table border="0" cellpadding="5" style="background:#fff; border-collapse:collapse; text-align:left; width:660px; margin:20px;">
                    <thead>
                        <tr style="color:#29201b; border-bottom:2px solid #29201b; padding:8px; background:#fff;">
                            <th></th>
                            <th>{% trans 'Product' %}</th>
                            <th>{% trans 'Quantity' %}</th>
                            <th>{% trans 'Price' %}</th>
                            <th>{% trans 'Discount' %}</th>
                            <th>{% trans 'Total' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr style="padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-bottom: 1px solid #dddddd;">
                            <td><img src="{{ item.product.get_main_image|thumbnail_url:'small' }}"></td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.gross_total }}</td>
                            <td>{{ item.discount_total }}</td>
                            <td>{{ item.net_total }}</td>
                        </tr>
                    {% endfor %}
                        <tr style="padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-bottom: 1px solid #dddddd;">
                            <td colspan="5">{% trans 'Order Gross Total' %}</td>
                            <td>{{ order.gross_total }}</td>
                        </tr>
                        <tr style="padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-bottom: 1px solid #dddddd;">
                            <td colspan="5">{% trans 'Discount Total' %}</td>
                            <td>{{ order.discount_total }}</td>
                        </tr>
                        <tr style="padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-bottom: 1px solid #dddddd;">
                            <td colspan="5">{% trans 'Shipping Cost' %}</td>
                            <td>{% if order.shipping_discount > 0 %}{{ order.shipping.cost - order.shipping_discount }} </td>
                        </tr>
                        <tr style="padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-bottom: 1px solid #dddddd;">
                            <td colspan="5">{% trans 'Order Net Total' %}</td>
                            <td>{{ order.net_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>     
    </tbody>
</table>

