{% extends 'empor/base.html' %}
{% load i18n thumbnail common %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Confirm</h1>
    <form id="confirm-form" method="post" class="form-inline">
    {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th class="span2"></th>
                    <th>{% trans 'Item' %}</th>
                    <th class="span2 t_right">{% trans 'Size' %}</th>
                    <th class="span2 t_right">{% trans 'Qty' %}</th>
                    <th class="span2 t_right">{% trans 'Price' %}</th>
                    <th class="span2 t_right">{% trans 'Discount' %}</th>
                    <th class="span2 t_right">{% trans 'Total' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.product.get_absolute_url }}">
                            {% if item.product.parent %}
                            <img src="{{ item.product.parent.get_main_image.image.small.url }}" class="itemphoto" />
                            {% else %}
                            <img src="{{ item.product.get_main_image.image.small.url }}" class="itemphoto" />
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                    <td class="t_right">{{ item.product.option.name }}</td>
                    <td class="t_right">{{ item.quantity }}</td>
                    <td class="t_right">{{ item.product.price|currency }}</td>
                    <td class="t_right">{% if item.discount_total > 0 %}{{ item.product.get_discounted_price|currency }}{% else %}-{% endif %}</td>
                    <td class="t_right">{{ item.net_total|currency }}</td>
                    <td>
                        <a href="{% url cart-remove %}" class="remove_btn" data="{{ item.id }}"><img src="{{ STATIC_URL }}images/remove.png"></a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="t_right">{% trans 'Product Total' %}</td>
                    <td class="t_right"><span id="gross_total">{{ cart.gross_total|currency }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" class="t_right">{% trans 'Discount Total' %}</td>
                    <td class="t_right"><span id="discount_total">{{ cart.discount_total|currency }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" class="t_right">{% trans 'Shipping' %}</td>
                    <td class="t_right"><span class="discount">{% trans 'Free Shipping' %}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" class="t_right">{% trans 'Total' %}</td>
                    <td class="t_right"><span id="net_total">{{ cart.net_total|currency }}</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h4>{% trans 'Memeber Information' %}</h4>
        <div class="control-group">
            <label class="control-label">{% trans 'Name' %}</label>
            <div class="controls">{{ request.user.first_name }} {{ request.user.last_name }}</div>
        </div>
        <div class="control-group">
            <label class="control-label">{% trans 'Email' %}</label>
            <div class="controls">{{ request.user.email }}</div>
        </div>
        <div class="control-group">
            <label class="control-label">{% trans 'Phone' %}</label>
            <div class="controls">{{ request.user.phone }}</div>
        </div>
        <hr />
        {% for field in form %}
        {% if field.name != 'payment_method' %}
            {% if field.name == 'reciept_type' %}
            <h4>{% trans 'Reciept Post' %}</h4>
            {% endif %}
            {% if field.name == 'billing_recipient' %}
            <h4>{% trans 'Billing Information' %}</h4>
            {% endif %}
            {% if field.name == 'shipping_recipient' %}
            <h4>{% trans 'Shipping Information' %}</h4>
            {% endif %}
            <div class="control-group">
                <label class="control-label {{ field.css_classes }}">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
                {{ field.errors }}
            </div>
            {% if field.name == 'company_title' %}
            <hr />
            {% endif %}
            {% if field.name == 'billing_country' %}
            <div class="control-group">
                <div class="controls">
                    <input name="copy_address" type="checkbox" value="" id="copy_address">{% trans 'Shipping same as billing?' %}
                </div>
            </div>
            {% endif %}
        {% endif %}
        {% endfor %}
        <hr />
        <div class="control-group">
            <label class="control-label">{{ form.payment_method.label }}</label>
            <div class="controls">
                <ul>
                    {% for field in form.payment_method %}
                    {% if forloop.counter == 1 %}
                    <li>
                        <label>
                            {{ field.tag }}
                            <span style="float:left; margin-right:2px;">{{ field.choice_label }}</span>
                            <img src="{{ STATIC_URL }}images/Credit Card PayPal.png" />
                        </label>
                    </li>
                    {% else %}
                    <li>
                        {{ field }}
                    </li> 
                    {% endif %}
                    {% endfor %}
                </ul>
           </div>
         </div>
         <div class="form-actions">
            <a href="{% url cart-index %}" class="button">{% trans 'Back' %}</a>
            {% if cart.items.count > 0 %}<input type="submit" class="button" value="{% trans 'Next' %}" />{% endif %}
        </div>
    </form>
</div>
{% endblock %}
