{% extends 'order/orders.html' %}
{% load i18n thumbnail common %}
{% block order_content %}
<div id="order_detail_content">
    <div class="control-group">
        <label class="control-label">{% trans 'Order ID' %}</label>
        <div class="controls">{{ order.order_id }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Order Status' %}</label>
        <div class="controls">
            {% if order.status == 0 %}
            <span class="orange">
            {% endif %}
            {% if order.status == 1 %}
            <span class="blue">
            {% endif %}
            {% if order.status == 2 %}
            <span class="red">
            {% endif %}
            {% if order.status == 3 %}
            <span class="green">
            {% endif %}
            {{ order.get_status_display }}
            </span> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Order Date' %}</label>
        <div class="controls">{{ order.created_at|date:"Y/m/d" }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Dispatched Date' %}</label>
        <div class="controls">{{ order.dispatched_date|date:"Y/m/d" }}</div>
    </div>
    <hr />
    <div class="control-group">
        <label class="control-label">{% trans 'Gross Total' %}</label>
        <div class="controls">{{ order.gross_total|currency }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Net Total' %}</label>
        <div class="controls">{{ order.net_total|currency }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Buyer' %}</label>
        <div class="controls">{{ order.billing_recipient }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Email' %}</label>
        <div class="controls"><span>{{ order.user.email }}</span></div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Phone' %}</label>
        <div class="controls">{{ order.billing_phone }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Billing Address' %}</label>
        <div class="controls">{{ order.get_billing_address }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Payment Method' %}</label>
        <div class="controls">{{ order.get_payment_method_display }}</div>
    </div>
    <hr />
    <div class="control-group">
        <label class="control-label">{% trans 'Recipient' %}</label>
    <div class="controls">{{ order.shipping_recipient }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Phone' %}</label>
        <div class="controls">{{ order.shipping_phone }}</div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Shipping Address' %}</label>
        <div class="controls">{{ order.get_shipping_address }}</div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Item' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Discount' %}</th>
                <th>{% trans 'Qty' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <a href="{{ item.product.get_absolute_url }}">
                        {% if item.product.parent %}
                        <img src="{{ item.product.parent.get_main_image.image.small.url }}" class="itemphoto" />
                        {% else %}
                        <img src="{{ item.product.get_main_image.image.small.url }}" class="itemphoto" />
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if item.product.parent %}
                    <a href="{{ item.product.parent.get_absolute_url }}">{{ item.product.name }}</a>
                    {% else %}
                    <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                    {% endif %}
                </td>
                <td>{{ item.product.price|currency }}</td>
                <td>{% if item.discount_total > 0 %} {{ item.product.get_discounted_price|currency }} {% else %} - {% endif %}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.net_total|currency }}</td>
            </tr>
            {% endfor %}
            {% if voucher %}
            <tr>
                <td class="t_right" colspan="5">{{ voucher.name }}</td>
                <td>{{ voucher.get_display_value }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="t_right" colspan="5">{% trans 'Product Total' %}</td>
                <td>{{ order.gross_total|currency }}</td>
            </tr>
            <tr>
                <td class="t_right" colspan="5">{% trans 'Discount Total' %}</td>
                <td>{{ order.discount_total|currency }}</td>
            </tr>
            <tr>
                <td class="t_right" colspan="5">{% trans 'Shipping Cost' %}</td>
                <td>{% if order.shipping_discount > 0 %}{{ order.shipping.cost|currency }}{% else %}<span class="discount">{% trans 'Free Shipping' %}</span>{% endif %}</td>
            </tr>
            <tr>
                <td class="t_right" colspan="5">{% trans 'Total' %}</td>
                <td>{{ order.net_total|currency }}</td>
            </tr>

        </tbody>
        </table>
    <div class="form-actions"><a href="{% url order-orders %}" class="button">{% trans 'Back to Orders List' %}</a></div>
</div>
{% endblock %}
