{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
     <div class="menu">
        <a href="{% url member-profile %}">{% trans 'Member Information' %}</a> ／
        <a href="{% url order-orders %}">{% trans 'Orders Tracking' %}</a> ／
        <a href="{% url member-change-password %}" style="text-decoration: underline;">{% trans 'Change password' %}</a>
    </div>
    <h1>Password</h1>
    <form id="password-form" method="post" class="form-inline offset1 span8">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endfor %}
        <div class="form-actions"><input type="submit" class="button" value="{% trans 'Confirm' %}" /></div>
    </form>
</div>
{% endblock %}
