{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Password</h1>
    <form id="password-form" method="post" class="form-inline offset1 span8">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endfor %}
        <div class="form-actions"><input type="submit" class="button" value="{% trans 'Confirm' %}" /></div>
    </form>
</div>
{% endblock %}
