{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Forgot</h1>
    <h3><small>
        {% trans 'We have send the an email containing the details to '%}{{ email }}
        {% trans 'Please check your email and follow the instructions to reset your password' %}
        {# 查詢結果已寄出至bl**********@hotmail.com 。請檢查您的信箱。#}
    </small></h3>
    <p>{% trans 'Shall you have any questions please contact' %} <a href="{% url service-center %}">{% trans 'Service Center' %}</a> {% trans ', Thanks!' %}
    {# ※若您仍有問題請聯繫客服中心，謝謝！#}
    <div class="form-actions"><a href="{% url service-center %}" class="button">{% trans 'Service Center' %}</a></div>
</div>
{% endblock %}
