{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Forgot</h1>
    <h3><small>
        {% trans 'If you have forgotten your account or password, please enter either your Email or Account below to retrieve' %} 
        {#$如果您忘記您的會員帳號或密碼，請輸入您的【電子信箱】或【會員帳號】來查詢。#}</small></h3>
    <form id="forgot-form" method="post" class="form-inline">
         <div class="control-group">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" />
         </div>
         
    </form>
</div>
{% endblock %}
