{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Sign In</h1>
    <div class="form-actions">
        <a href="javascript:fb_login();" class="button button_fb button_l">用<i class="m_icon-fbbtn"></i>帳號登入</a>
    </div>
    <div class="intermission">{% trans 'OR' %}</div>
    <form id="login-form" method="post" class="form-inline offset2 span6">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'remember_me' %}
        <div class="control-group">
            <div class="controls">
                {{ field }}{{ field.label }} │ <a href="{% url member-register %}">{% trans 'Join Us' %}</a> | <a href="{% url member-forgot-password %}">{% trans 'Forgot password ?' %}</a> 
            </div>
         </div> 
        {% else %}
         <div class="control-group">
			<label class="control-label">{{ field.label }}</label>
			<div class="controls">{{ field }}</div>
         </div>
		 {{ field.errors }}
        {% endif %}
        {% endfor %}

        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Log In' %}" />
        </div>
    </form>
</div>
{% endblock %}
