{% extends 'empor/base.html' %}
{% load i18n %}
{% block css %}
<link href="{{ STATIC_URL }}widgets/css/datepicker.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/twzipcode-1.4.1-min.js"></script>
<script src="{{ STATIC_URL }}widgets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function() {
    $('.birthday').datepicker();
    $('#twzipcode').twzipcode({
        zipcodeSel: {{ request.user.profile.post_code }},
    });
    $('#register-form').submit(function() {
        if($('input[name="zipcode"]').val() == '') {
            $('<ul class="errorlist"><li>這個欄位是必須的。</li></ul>').insertAfter($('input[name="zipcode"]').parent());
            return false;
        }
        $(this).submit();
    });
});
</script>
{% endblock %}
{% block content %}
<div class="inside_itembox itemopen center">
    <div class="menu">
        <a href="{% url member-profile %}" style="text-decoration: underline;">{% trans 'Member Information' %}</a> ／ 
        <a href="{% url order-orders %}">{% trans 'Orders Tracking' %}</a> ／
        <a href="{% url member-change-password %}">{% trans 'Change password' %}</a>
    </div>
    <h1>Member</h1>
    <form id="register-form" method="post" class="form-inline">
        <div class="control-group">
            <label class="control-label">{% trans 'Account' %}</label>
            <div class="controls">{{ request.user.username }}</div>
        </div>
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'address' and field.name != 'tos' %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="control-group">
            <label class="control-label">{{ form.address.label }}</label>
            <div id="twzipcode"></div>
        </div>
        <div class="control-group">
            <div class="controls">{{ form.address }}</div>
            {{ form.address.errors }}
        </div>
        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Confirm' %}" />
        </div>
    </form>
</div>
{% endblock %}
