{% extends 'empor/base.html' %}
{% load i18n %}
{% block css %}
<link href="{{ STATIC_URL }}widgets/css/datepicker.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}widgets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function() {
    $('.birthday').datepicker();
});
</script>
{% endblock %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Register</h1>
    <div class="form-actions">
        <a href="javascript:fb_login();" class="button button_fb button_l">用<i class="m_icon-fbbtn"></i>帳號登入</a>
    </div>
    <div class="intermission">{% trans 'OR' %}</div>
    <form id="register-form" method="post" class="form-inline offset1 span8">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'billing_recipient' %}
        <h4>{% trans 'Billing Information' %}</h4>
        {% endif %}
        {% if field.name == 'shipping_recipient' %}
        <h4>{% trans 'Shipping Information' %}</h4>
        {% endif %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div> {{ field.errors }}
        </div>
        {% if field.name == 'billing_country' %}
        <div class="control-group">
            <div class="controls">
                <input name="copy_address" type="checkbox" value="" id="copy_address">{% trans 'Shipping same as billing?' %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Confirm' %}" />
        </div>
    </form>
</div>
{% endblock %}
