{% extends 'empor/base.html' %}
{% load i18n %}
{% block js %}
{{ block.super }}
<SCRIPT language="JavaScript" type="text/javascript">
<!-- Yahoo! Taiwan Inc.
window.ysm_customData = new Object();
window.ysm_customData.conversion = "transId=,currency=,amount=";
var ysm_accountid  = "1N1J7MC39J39GVG6HJF8DE5JO2O";
document.write("<SCR" + "IPT language='JavaScript' type='text/javascript' "
+ "SRC=//" + "srv1.wa.marketingsolutions.yahoo.com" + "/script/ScriptServlet" + "?aid=" + ysm_accountid
+ "></SCR" + "IPT>");
// -->
</SCRIPT>
{% endblock %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Welcome</h1>
    <h3>
        <small>
        {% trans "Welcome to EMPOR. We have sent a member activation letter to you. Please check your email address and click the link provided to activate your account." %}
        </small>
        {# 歡迎您加入EMPOR，系統已寄發「會員帳號認證函」給您，請隨即查看您註冊用的電子信箱，並點選信中的網址正式開通您的帳號。 #}
    </h3>
    <h3>{% trans 'Account' %} ： {{ username }}</h3>
    <h3>{% trans 'email' %} ：{{ email }}</h3>
    <div class="form-actions">
        <a href="{% url member-reactivate %}">trans "Did not receive"%}『{% trans 'Member activation letter'%}』{% trans 'yet' %}?</a>
    </div>
</div>
{% endblock %}
