<h2>{% trans 'Sign Up Complete' %}</h2>
<p>
    {% trans "Welcome to Streetvoice. We'll sent a member activation code to you. Please check your email address just input and click link to activate your account." %}
    {# 歡迎您加入StreetVoice網站會員，系統已寄發「會員帳號認證函」給您，請隨即查看您註冊用的電子信箱，並點選信中的網址正式開通您的帳號。 #}
</p>
<div class="content_wrapper">
    <h3>{% trans 'Username' %} ： {{ username }}</h3>
    <h3>email ：{{ email }}</h3>
    <p>
        {% trans "Please activate your account to access our service completely." %}
        {# 請務必開通您的會員帳號，否則將無法使用本網站的各項服務哦！ #}
    </p>
    <p>
        <i class="s_icon-question"></i>
        <a href="{% url member-reactivate %}" class="dynamic">{% trans "Did not receive"%}『{% trans 'Member activation letter'%}』{% trans 'yet' %}?</a>
    </p>
</div>
