{% extends 'empor/base.html' %}
{% load i18n thumbnail %}
{% block content %}
<div class="outer_box">
    <div class="index_itembox itemopen">
        <div class="center">
            <h1>{% trans 'Confirm' %}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Item' %}</th>
                        <th>{% trans 'Discount' %}</th>
                        <th>{% trans 'Price' %}</th>
                        <th>{% trans 'Qty' %}</th>
                        <th>{% trans 'Total' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items.all %}
                    <tr>
                        <td>
                            <a href="{{ item.product.get_absolute_url }}">
                                {% if item.product.parent %}
                                <img src="{{ item.product.parent.get_main_image|thumbnail_url:'small' }}" class="itemphoto" />
                                {% else %}
                                <img src="{{ item.product.get_main_image|thumbnail_url:'small' }}" class="itemphoto" />
                                {% endif %}
                            </a>
                        </td>
                        <td><a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a></td>
                        <td>{{ item.product.price }}</td>
                        <td><!-- discount here -->-</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total }}</td>
                        <td><a href="{% url cart-remove item.id %}" class="remove_btn"><img src="{{ STATIC_URL }}images/remove.png"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="confirm-form" method="post" class="form-inline">
                <div class="control-group">
                    <label class="control-label">{% trans 'Total' %}</label>
                    <div class="controls">{{ cart.total }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Shipping' %}</label>
                    <div class="controls">get_shipping</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Total to pay' %}</label>
                    <div class="controls">total</div>
                </div>
                <hr />
                <div class="control-group">
                    <label class="control-label">{% trans 'Name' %}</label>
                    <div class="controls">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Email' %}</label>
                    <div class="controls">{{ request.user.email }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Phone' %}</label>
                    <div class="controls">{{ request.user.phone }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Billing Address' %}</label>
                    <div class="controls">{{ form.billing_address }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Recipient' %}</label>
                    <div class="controls">{{ form.receiver }}</div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Shipping Address' %}</label>
                    <div class="controls">{{ form.shipping_address }}</div>
                </div>
                <hr />
                <div class="control-group">
                    <label class="control-label">{% trans 'Payment methods' %}</label>
                    <div class="controls">
                        <ul>
                            {% for field in form.payment_method %}
                            <li>{{ field }}</li>
                            {% endfor %}
                           <li><input name="pay" type="radio" checked="checked"><label><img src="images/Credit Card PayPal.png"></label></li>
                        </ul>
                   </div>
                 </div>
                 <div class="form-actions"><a href="cart.html" class="button">Back</a> <a href="thankyou.html" class="button">Next</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
