{% load i18n thumbnail %}
<div class="itemopen itemup">
    <span class="close">×</span>
    <div class="left">
        <div class="large">
            <a href="#"><img src="{{ focus_product.get_main_image|thumbnail_url:'medium' }}"></a>
        </div>
        <div class="small">
            {% for image in focus_product.images.all %}
            {% if not image.main %}
            <a href="#"><img src="{{ image.image|thumbnail_url:'small' }}"></a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="right">
        <h1>{{ focus_product }}</h1>
        <div class="data"><h3><label>{% trans 'Price' %}：</label><span>{{ focus_product.price }}</span></h3></div>
        <div class="data">{{ focus_product.description }}</div>
        <div class="data"><label>{% trans 'Item ID' %}：</label><span>{{ focus_product.sku }}</span></div>
        <div class="data"><label>{% trans 'Composition' %}：</label><span>{{ focus_product.composition }}</span></div>
        {% for group in focus_product.option_group.all %}
        <div class="data"><label>{{ group.name }}：</label>
             <ul>
                {% for child in focus_product.children.all %}
                <li class="product_option {% if child.stock == 0 %}soldout{% endif %}"><a href="#" data="{{ child.id }}">{{ child.get_option.name }}</a></li>
                {% endfor %}
             </ul>
        </div>
        {% endfor %}
        <div class="data"><label>{% trans 'Quantity' %}：</label><input id="quantity" type="number" name="quantity" min="1" max="10" /></div>
        <div class="form-actions_left">
            {% csrf_token %}
            <a href="#" id="add_cart" data="{{ focus_product.id }}" class="button">{% trans 'Add to Cart' %}</a>
        </div>
        <div class="data">
            {% for sibling in focus_product.get_siblings %}
            <span class="other"><a href="{{ sibling.get_absolute_url }}"><img src="{{ sibling.thumb.thumb.url }}"></a></span>
            {% endfor %}
        </div>
    </div>
</div>
