#footer.open .small, #footer.open .open_btn {
    display: none;
}

#footer.small .open {
    display: none;
}

div#isotope_list {
    margin: 0 auto 50px;
}

div.menu_pop {
    display: none;
}

.visible {
	opacity: 1;
}

.backstretch::after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}

.backstretch::after {
    position: fixed;
    height: 100%;
    width: 100%;
}
div.index_itembox {
    margin-left: 10px;
    margin-top: 10px;
}

div.outer_box {
    left:360px;
    position: absolute;
    width: 63%;
}

label.required:after {
    content: '*'
}

div#modal_overlay {
    height:100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: none;
    z-index: 1001;
    top: 0px;
    bottom: 0px;
	overflow-y: scroll;
}

div#content_pane_wrapper {
	width: 840px;
	margin: 0px auto;
}

div#content_pane {
    z-index: 1002;
    display: none;
    background: white;
    overflow: hidden;
    position: absolute;
    width: 840px;
    min-height: 500px;
    margin: 50px auto;
    height: auto;
	float: left;
}
.errorlist {
	margin-left: 100px;
	display: inline-block;
}
#confirm-form .errorlist {
	margin-left: 10px;
}

.errorlist li {
    color: #B94A48;
	line-height: 28px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/*
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
*/

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
