{% extends 'empor/base.html' %}
{% load i18n %}
{% block css %}
<link href="{{ STATIC_URL }}widgets/css/datepicker.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/twzipcode-1.4.1-min.js"></script>
<script src="{{ STATIC_URL }}widgets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function() {
    $('.birthday').datepicker();
    $('#twzipcode').twzipcode();
    $('#register-form').submit(function() {
        if($('input[name="zipcode"]').val() == '') {
            $('<ul class="errorlist"><li>這個欄位是必須的。</li></ul>').insertAfter($('input[name="zipcode"]').parent());
            return false;
        }
        $(this).submit();
    });
});
</script>
{% endblock %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Register</h1>
    <h3>{{ profile.name }} 您好，您已使用Facebook帳號登入！</h3>
    <h3><small>填寫需要的資料來建立 EMPOR 帳戶以對應使用你的 Facebook 帳號</small></h3>
    <form id="register-form" method="post" class="form-inline">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'address' and field.name != 'tos' %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="control-group">
            <label class="control-label">{{ form.address.label }}</label>
            <div id="twzipcode"></div>
        </div>
        <div class="control-group">
            <div class="controls">{{ form.address }}</div>
            {{ form.address.errors }}
        </div> 

        <div class="control-group">
            <div class="controls">
                <input id="id_tos" name="tos" type="checkbox">{% trans 'I have read and agree' %}<a href="{% url service-tos %}">{% trans 'TOS' %}</a>
            </div>
            {{ form.tos.errors }}
        </div>
        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Confirm' %}" />
        </div>
 
    </form>
</div>
{% endblock %}
