{% extends 'empor/base.html' %}
{% load i18n %}
{% block css %}
<link href="{{ STATIC_URL }}widgets/css/datepicker.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}widgets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function() {
    $('.birthday').datepicker();
});
</script>
{% endblock %}
{% block content %}
<div class="inside_itembox itemopen center">
    <h1>Register</h1>
    <h3>{{ profile.name }} 您好，您已使用Facebook帳號登入！</h3>
    <h3><small>填寫需要的資料來建立 EMPOR 帳戶以對應使用你的 Facebook 帳號</small></h3>
    <form id="register-form" method="post" class="form-inline">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'address' and field.name != 'post_code' and field.name != 'tos' %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="control-group">
            {% if form.address.errors %}
                {{ form.address.errors }}
            {% else %}
                {{ form.post_code.errors }}
            {% endif %}
            <label class="control-label">{{ form.address.label }}</label>
            <div class="controls">{{ form.post_code }}</div>
            <div class="controls">{{ form.address }}</div>
        </div>

        <div class="control-group">
            {{ form.tos.errors }}
            <div class="controls">
                <input id="id_tos" name="tos" type="checkbox">{% trans 'I have read and agree' %}<a href="{% url service-tos %}">{% trans 'TOS' %}</a>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="button" value="{% trans 'Confirm' %}" />
        </div>
 
    </form>
</div>
{% endblock %}
