<html>
    <head>
        <title>EMPOR</title>
        <link href="{{ STATIC_URL }}/style/style.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}/style/extra.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/plupload/js/plupload.full.js"></script>
        <script src="{{ STATIC_URL }}js/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
        <link href="{{ STATIC_URL }}/js/dojo/editor.css" rel="stylesheet" type="text/css" />
		<script src="{{ STATIC_URL }}js/dojo/editor.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <div id="header" class="broke-endless-pages">
            <img src="{{ STATIC_URL }}images/EMPOR_logo_back.png">
            <span class="menu">
                <a href="{% url staff-index %}">產品列表</a> ／ 
                <a href="back_discountlist.html">折扣列表</a> ／ 
                <a href="{% url staff-orders %}">訂單列表</a>
            </span>
        </div>
        <div id="back_weaper">
            <div id="inside_box">
                {% block content%}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
