{% extends 'staff/base.html' %}
{% load i18n %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}js/jquery.livequery.js"></script>
<style type="text/css">
a.add-row {
    float: left;
}
</style>
<script type="text/javascript">
$(function(){
    $('.options').removeAttr('disabled');
    // formset
    var deleteText = '刪除';
    var addText = '<img src="{{ STATIC_URL }}images/add.png" />';

    $('.child-form').formset({
        prefix: 'child',
        deleteText: deleteText,
        addText: addText,
        added: function(row) {
            $('.options', row).children().remove();
            $('.child-form:first .options').children().clone().appendTo($('.options', row));
            $('.options').removeAttr('disabled');
        }
    });

    $('input[name="has_options"]').change(function() {
        if($(this).is(':checked'))
            $('#child_formset').show();
        else
            $('#child_formset').hide();
    });

    $('input[name="has_options"]').livequery(function() {
        if($(this).is(':checked'))
            $('#child_formset').show();
        else
            $('#child_formset').hide();
    });
    
    $('#p_edit-form').submit(function() {
        if($('.item_img input[type="checkbox"]:checked').length == 0)
            $('.item_img input[type="checkbox"]:first').attr('checked', 'checked');
    });

    $('.item_img input[type="checkbox"]').livequery('change', function() {
        $(this).parent().siblings().find('input[type="checkbox"]').removeAttr('checked');
    });

    $('.optiongroup').on('change', function () {
        var that = $(this)
        $('.options').empty();
        $.get('/staff/render_options/'+$(this).val(), function(response) {
            for (var key in response) {
                $('select.options').append('<option value="'+ response[key].id +'">'+ response[key].name+'</option>');
            }
            $('.options').removeAttr('disabled');
        });
    });
});
</script>
{% endblock %}

{%block content %}
<div class="page-header">
    <h1>{{ collection.name }} >> {% trans 'Add Product' %}</h1>
</div>
<form id="p_edit-form" method="post" class="form-inline well">
{% csrf_token %}
<h3>Step 1 -{% trans 'Product Information' %}</h3>
{% for field in product_form %}
    <div class="control-group">
        <label class="control-label">{{ field.label }}</label>
        <div class="controls">{{ field }}</div>
        {{ field.errors }}
        {{ field.help_text }}
    </div>
    {% endfor %}
    {{ child_formset.management_form }}
    <div id="child_formset">
        {% for form in child_formset.forms %}
        <div class="child-form control-group">
            <label class="control-label">{% trans 'Stock' %}</label>
            <div class="controls">
                {% for field in form %}
                {{ field }}
                {% endfor %}
            </div>
            {{ form.errors }}
        </div>
        {% endfor %}
    </div>
    <div class="form-actions">
        <input type="submit" class="button" name="save" value="{% trans 'Save' %}" />　
        <input type="submit" class="button" name="add" value="{% trans 'Save and Upload Image' %}" />
    </div>
    <br clear="all">
</form>
{% endblock %}
