{% extends 'staff/base.html' %}
{% load i18n thumbnail %}
{% block js %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}js/jquery.livequery.js"></script>
<script type="text/javascript">
$(function(){
    var uploader = new plupload.Uploader({
        runtimes : 'gears,html5, flash',
        browse_button: 'image_button', 
        container : 'uploader',
        drop_element: 'uploader',
        multipart: true,
        headers: {'X-Requested-With': 'XMLHttpRequest', 'X-CSRFToken' : '{{ csrf_token }}'},
        multipart_params: {'product_id': '{{ product.id }}'},
        url: '/staff/_upload/',
        max_file_size: '10mb',
        chunk_size: '1mb',
        unique_names: false,
        multi_selection : true
    });

    uploader.init();

    var files_count;

    uploader.bind('FilesAdded', function(up, files) {
        uploader.start();
        $('#loader_image').show();
        files_count = files.length;
    });

    uploader.bind('FileUploaded', function(up, file, response) {
        response = JSON.parse(response.response);
        $('#image-pool').prepend(
        '<div class="item_img product-image"> \
            <div class="hide"><a href="#"><img src="{{ STATIC_URL }}images/remove.png"></a></div> \
            <img class="img_thumb" src="' + response.image_url + '"> \
            <input name="main" type="radio" value="' + response.image_id + '" id="item_face" /> \
        </div>');
    });
    
    uploader.bind('UploadComplete', function() {
        $('#loader_image').hide();
        if($('.item_img input[name="main"]:checked').length == 0)
            $('.item_img:first input[name="main"]').attr('checked', 'checked');
    });
    
});
</script>
{% endblock %}

{% block content %}
<h1>{{ collection.name }} >> {% trans 'Add Product' %}</h1>
<form id="p_edit-form" method="post" class="form-inline well">
<h3 style="float: left; width: 200px">Step 2 - {% trans 'Product Image' %}</h3>
<img style="float: left;display: none;" id="loader_image" src="{{ STATIC_URL }}images/ajax-loader.gif" />
{% csrf_token %}
    <div class="control-group">
        <button id="image_button">{% trans 'Browse' %}</button>
        <div id="uploader" class="upload_box">{% trans 'Drag photos from your computer here' %}</div>
    </div>
    <div class="control-group" id="image-pool">
        {% for image in images %}
        <div class="item_img product-image">
            <div class="hide"><a href="#"><img src="{{ STATIC_URL }}images/remove.png"></a></div>
            <img class="img_thumb" src="{{ image.image|thumbnail_url:'small' }}">
            <input name="main" type="radio" value="{{ image.id }}" id="item_face" {% if image.main %}checked="checked"{% endif %}/>
        </div>
        {% endfor %}
    </div>
    <div class="form-actions">
        <input type="submit" class="button" name="save" value="{% trans 'Save' %}" />　
        <input type="submit" class="button" name="add" value="{% trans 'Save and Upload Thumbnail' %}" />
    </div>
    <br clear="all">
</form>
{% endblock %}
