{% extends 'empor/base.html' %}
{% load i18n %}
{% block content %}
<div class="inside_itembox itemopen">
    <div class="center">
        <h1>{% trans 'Sign In' %}</h1>
        <div class="content"> 
            <div class="content_box left">
                <h2>{% trans 'I AM A REGISTERED CUSTOMER' %}</h2>
                <h3><small>{% trans 'Please enter your email and password below to log in' %}.</small></h3>
                <form id="login-form" method="post" class="form-inline">
                        {% csrf_token %}
                    {{ form.errors }}
                    {% for field in form %}
                     <div class="control-group">
                       <label class="control-label">{{ field.label }}</label>
                       <div class="controls">{{ field }}</div>
                     </div>
                    {% endfor %}
                    <div class="form-actions">
                        <input type="submit" class="button" value="{% trans 'Log In' %}" />
                        <a href="#" class="button button_fb">Log In with Facebook</a>
                    </div>
                </form>
            </div>
            <div class="content_box right">
                <h2>{% trans 'I AM A NEW CUSTOMER' %}</h2>
                <h3><small>{% trans 'Please click Register and enter your details' %}.</small></h3>
                <div class="form-actions"><a href="{% url userena_signup %}" class="button">{% trans 'Register' %}</a></div>
            </div>
    </div>
</div>
{% endblock %}
